.single-dialog-content {
  &__section-title {
    font-size: 18px;
    font-weight: bold;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &__image {
    width: 90%;
    margin: 10px;
  }
  &__description {
    white-space: pre-wrap;
  }
}