$cardWidth: 240px;

.common-machines-card {
  margin: 15px;
  width: $cardWidth;

  &--hidden {
    background-color: #ffebee !important;
  }

  &--active {
    background-color: #f1f8e9 !important;
  }

  &--busy {
    background-color: #fffde7 !important;
  }

  &__image {
    height: $cardWidth * 9/16;
    background-size: contain !important;
  }

  &__price {
    font-size: 20px;
    font-weight: 500;
  }

  &__status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__actions {
    justify-content: space-between;
  }

  &__favorite-icon {
    width: 30px !important;
    height: 30px !important;
    color: #ffb300;
  }

  &__order-icon {
    width: 30px !important;
    height: 30px !important;
    color: #4caf50;
  }
}
