.header {
  justify-content: space-between;
  height: 60px;


  &__title-container {
    display: flex;
  }

  &__item {
    height: 100%;
  }

  &__auth {
    display: flex;
    align-items: center;
  }


  &__auth-icon {
    width: 35px !important;
    height: 35px !important;
  }

  &__auth-profile {
    text-decoration: none;
    color: currentColor;
  }
}