.registration-container {
  display: flex;
  flex-wrap: wrap;
}

.registration {
  &__form {
    display: flex;
    flex-direction: column;
    flex:1;
    align-items: center;
    padding: 30px 0;
    margin-left:60%;
  }
  &__picture {
    width: 60%;
    height: 100%;
    position: fixed;
  }
}

.form {
  &__title {
    font-weight: 300;
  }
  &__row {
    width: 300px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 60px;
  }
  &__field {
    width: 100%;
  }
}