.sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 60px;
  &--selected {
    background-color: #7953d2;
  }
  &:hover {
    cursor: pointer;
    background-color: #7953d2;
  }
  &__icon {
    width: 35px !important;
    height: 35px !important;
    margin-right: 10px;
  }
}